@media only screen and (max-width: 600px) { 
    .mob_width{
         width: 100% !important;
        margin: 2px !important;
        /* margin-top: 5rem !important; */
        /* padding: 10px !important; */
     }
     .mon_mag{
         padding: 10px !important;
     }
     .mob_block{
        display: block !important;
        margin: 1px !important;
        text-align: center !important;
       }

       .text_cen{
        text-align: center !important;
        font-size:medium!important;
       }

       .img_size{
        width: 60% !important;
        height: 30% !important;
       }
       .img_con{
         display: none;
        width: 150px;
        height: 100px;
        padding: 0;
       }
       .text_left{
    text-align: left !important;

       }
       .mob_dis{
        display: none !important;
       }

       .p_right{
padding-right: 0 !important;
       }

       .p_5{
         padding: 5px !important;
       }
       .m_5{
         margin: 10px !important;
       }

 }
