@media only screen and (max-width: 600px) { 
    .mob_width{
         width: 100% !important;
       
      
     }
     .no_dis{
      display: none !important;
     }
     .mon_mag{
         padding: 10px !important;
     }
     .mob_block{
        display: block !important;
        margin: 1px !important;
        text-align: center !important;
       }

       .text_cen{
        text-align: center !important;
        font-size:medium!important;
        font-weight: 600;
       }

       .img_size{
        width: 60% !important;
        height: 30% !important;
       }
       .img_con{
         display: none;
        width: 150px;
        height: 100px;
        padding: 0;
       }
       .text_left{
    text-align: left !important;

       }
       .mob_dis{
        display: none !important;
       }
       .mob_dis_yes{
        display:inline-flex !important;
        position: absolute!important;

       }

       .p_right{
padding-right: 0 !important;
       }

       .p_5{
         padding: 5px !important;
       }
       .p_10{
        padding: 10px !important;
      }
       /* .p_2{
        padding: ;
       } */
       .m_5{
         margin: 10px !important;
       }

       .dis_block{
        display: block !important;
       }
       .mar_top{
        margin-top: 4rem!important;
        border-radius: 0 !important;
       }
       .mar_top2{
        margin-top: 8rem!important;
       }
       .p_0{
padding: 0 !important;
       }
       .text{
        font-size: 13px !important; 
       }

       .m_0{
        margin: 2px;
       }
       .p_lr{
        padding-left: 5px !important;
        padding-right: 5px !important;
       }
       .icn_text{
        font-size: 20px;
       }
       .w_scr{
        width: 100vw !important;
       }
       .h_scr{
        height: 100vh !important;
       }
 }
