.blinking-text {

    animation: blink 6s infinite ease-in-out;

}

@keyframes blink {


    0% {
        opacity: 1;
        /* width: 10%; */
        overflow: hidden;
        filter: blur(5px);
        
        text-overflow: ellipsis;
        /* white-space: nowrap; */
    }

    10% {
        opacity: 0.5;
        filter: blur(5px);
        /* width: 30%; */
    }
    100% {
        opacity: 1;
        /* color: rgb(0, 0, 0) */
        /* width: 100%; */
    }
}
.z-index{
    position: initial;
    z-index: 0;
}
@media only screen and (max-width: 600px) { 
    .mobile_featues{
        width: 100% !important;
    }
    .mob_pad{
        padding: 10px !important ;
        width: 100% !important;
  
    }
    .feaitem_con{
        margin: auto !important;
        padding: 3px !important; 
       }
       .mob_block{
        display: block !important;
        margin: 1px !important;
        text-align: center !important;
       }
       .t_center{
        text-align: center !important;
        padding: 0 !important;
        margin: 2px !important;
       }
       .no_dis{
        display: none;
       }
       .mob_font{
        font-size: 30px;
       }
       .mob_pad{
        padding-top: 2rem !important;
        padding-bottom: 2rem !important;
       }
       .mob_mag{
        margin: 2px;
       }
       .mt{
        padding-top: 50px;
       }
}