.blinking-text {

    animation: blink 6s infinite ease-in-out;

}

@keyframes blink {


    0% {
        opacity: 1;
        /* width: 10%; */
        overflow: hidden;
        filter: blur(5px);
        
        text-overflow: ellipsis;
        /* white-space: nowrap; */
    }

    10% {
        opacity: 0.5;
        filter: blur(5px);
        /* width: 30%; */
    }
    100% {
        opacity: 1;
        /* color: rgb(0, 0, 0) */
        /* width: 100%; */
    }
}
.z-index{
    position: initial;
    z-index: 0;
}
@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #03121c1d;
    overflow: hidden;
}

.background span {
    width: 1vmin;
    height: 1vmin;
    border-radius: 1vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 13;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #25587e;
    top: 73%;
    left: 12%;
    animation-duration: 295s;
    animation-delay: -206s;
    transform-origin: 10vw -16vh;
    box-shadow: 2vmin 0 0.44128235769003843vmin currentColor;
}
.background span:nth-child(1) {
    color: #fbf4f6;
    top: 31%;
    left: 48%;
    animation-duration: 59s;
    animation-delay: -113s;
    transform-origin: 18vw 2vh;
    box-shadow: 2vmin 0 0.6442219272135665vmin currentColor;
}
.background span:nth-child(2) {
    color: #25587e;
    top: 20%;
    left: 17%;
    animation-duration: 262s;
    animation-delay: -187s;
    transform-origin: 11vw 5vh;
    box-shadow: -2vmin 0 0.2507412646567453vmin currentColor;
}
.background span:nth-child(3) {
    color: #25587e;
    top: 28%;
    left: 20%;
    animation-duration: 139s;
    animation-delay: -308s;
    transform-origin: 25vw 8vh;
    box-shadow: -2vmin 0 1.0538730125556186vmin currentColor;
}
.background span:nth-child(4) {
    color: #fbf4f6;
    top: 74%;
    left: 52%;
    animation-duration: 73s;
    animation-delay: -246s;
    transform-origin: 21vw 20vh;
    box-shadow: 2vmin 0 1.2456399186610227vmin currentColor;
}
.background span:nth-child(5) {
    color: #25587e;
    top: 73%;
    left: 94%;
    animation-duration: 259s;
    animation-delay: -232s;
    transform-origin: -5vw 9vh;
    box-shadow: 2vmin 0 0.7119754249108117vmin currentColor;
}
.background span:nth-child(6) {
    color: #70caf0;
    top: 32%;
    left: 100%;
    animation-duration: 79s;
    animation-delay: -14s;
    transform-origin: -16vw 2vh;
    box-shadow: 2vmin 0 0.9051848698719007vmin currentColor;
}
.background span:nth-child(7) {
    color: #70caf0;
    top: 64%;
    left: 21%;
    animation-duration: 115s;
    animation-delay: -117s;
    transform-origin: -12vw 11vh;
    box-shadow: 2vmin 0 0.8543422298772936vmin currentColor;
}
.background span:nth-child(8) {
    color: #70caf0;
    top: 42%;
    left: 37%;
    animation-duration: 73s;
    animation-delay: -143s;
    transform-origin: 17vw -12vh;
    box-shadow: -2vmin 0 1.1600854980873476vmin currentColor;
}
.background span:nth-child(9) {
    color: #70caf0;
    top: 74%;
    left: 97%;
    animation-duration: 95s;
    animation-delay: -249s;
    transform-origin: 24vw -2vh;
    box-shadow: -2vmin 0 0.737120626349117vmin currentColor;
}
.background span:nth-child(10) {
    color: #25587e;
    top: 24%;
    left: 32%;
    animation-duration: 333s;
    animation-delay: -75s;
    transform-origin: 25vw 20vh;
    box-shadow: -2vmin 0 0.7250282023451031vmin currentColor;
}
.background span:nth-child(11) {
    color: #70caf0;
    top: 65%;
    left: 69%;
    animation-duration: 181s;
    animation-delay: -6s;
    transform-origin: 1vw -24vh;
    box-shadow: -2vmin 0 0.9470941054928657vmin currentColor;
}
.background span:nth-child(12) {
    color: #25587e;
    top: 80%;
    left: 15%;
    animation-duration: 93s;
    animation-delay: -12s;
    transform-origin: 12vw -14vh;
    box-shadow: 2vmin 0 0.6638634076768644vmin currentColor;
}
.background span:nth-child(13) {
    color: #70caf0;
    top: 53%;
    left: 19%;
    animation-duration: 130s;
    animation-delay: -277s;
    transform-origin: -18vw 19vh;
    box-shadow: -2vmin 0 0.47531697470700895vmin currentColor;
}
.background span:nth-child(14) {
    color: #fbf4f6;
    top: 95%;
    left: 81%;
    animation-duration: 21s;
    animation-delay: -42s;
    transform-origin: 20vw 1vh;
    box-shadow: -2vmin 0 0.5867091657298682vmin currentColor;
}
.background span:nth-child(15) {
    color: #70caf0;
    top: 52%;
    left: 60%;
    animation-duration: 322s;
    animation-delay: -113s;
    transform-origin: -2vw -1vh;
    box-shadow: 2vmin 0 1.0370390172623274vmin currentColor;
}
.background span:nth-child(16) {
    color: #70caf0;
    top: 63%;
    left: 7%;
    animation-duration: 209s;
    animation-delay: -196s;
    transform-origin: 4vw -22vh;
    box-shadow: 2vmin 0 0.4768799240628283vmin currentColor;
}
.background span:nth-child(17) {
    color: #fbf4f6;
    top: 80%;
    left: 63%;
    animation-duration: 247s;
    animation-delay: -80s;
    transform-origin: 1vw 5vh;
    box-shadow: -2vmin 0 0.7078576565943937vmin currentColor;
}

@media only screen and (max-width: 600px) { 
    .mobile_featues{
        width: 100% !important;
    }
    .mob_pad{
        padding: 10px !important ;
        width: 100% !important;
  
    }
    .feaitem_con{
        margin: auto !important;
        padding: 3px !important; 
       }
       .mob_block{
        display: block !important;
        margin: 1px !important;
        text-align: center !important;
       }
       .t_center{
        text-align: center !important;
        padding: 0 !important;
        margin: 2px !important;
       }
       .no_dis{
        display: none;
       }
       .mob_font{
        font-size: 30px;
       }
       .mob_pad{
        padding-top: 2rem !important;
        padding-bottom: 2rem !important;
       }
       .mob_mag{
        margin: 2px;
       }
       .mt{
        padding-top: 50px;
       }
}